<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1> Percept Swarm, we're watching collective scientific potential crystallize </h1>

    <h2>
      ON A DAILY BASIS.
    </h2> 
    <%= link_to "Sign Up", signup_path, 
                                class: "btn btn-large btn-primary" %>
 
  </div> 
  <div class="center hero-unit">
	
  <a href="http://perceptswarm.com/">"The only way to know what you're doing is to not know what you're doing."</a>

  <div> 

  </div>

  <! <%= link_to image_tag("Apparitions.tiff", alt: "Apparitions"), 'http://www.perceptswarm.org/' %> > 
<% end %>
